<!DOCTYPE html>
<html>
  <head>
    <title>Healthy Horizons Africa</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"crossorigin="anonymous"></script>
    <%# <script src="https://kit.fontawesome.com/69b83e7aa6.js" crossorigin="anonymous"></script> %>
  </head>

  <body class="<%=params[:controller]%>-<%=params[:action]%>">
    <%= render "shared/navbar" unless params[:action] == "home" %>
    <div class="<%='container' unless params[:action] == "home" %>">
      <%= yield %>
    </div>
  </body>
</html>
